body, .input, .button {
  font: normal 10px Verdana;
  margin: 10px;
}

.layout {
  margin: 1px auto;
}

.menu {
  margin: 0 0 30px;
}

.list {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

.list-item {
  background-color: #DDD;
  background: #fafafa;
  border: 1px solid #ddd;
  color: #333;
  display: block;
  margin: 0 0 1px;
  padding: 8px 15px;
  text-decoration: none;
}

.list-item:hover {
  text-decoration: underline;
}

.label {
  display: block;
  margin: 0 0 5px;
}

.input {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  margin: 0 0 10px;
  padding: 10px 15px;
  width: 100%;
}

.button {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  margin: 0 0 10px;
  padding: 10px 15px;
  text-decoration: none;
}

.button:hover {
  background: #e8e8e8;
}

.sticky-table {
  display: inline-block;
  max-height: 30em;
  overflow-x: hidden; /* Prevent Firefox h-scrollbar */
  overflow-y: auto;
  border: #666 1px solid;
  border-collapse: collapse;
}

.sticky-table th {
  border: 1px solid black;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #DDD;
}

.sticky-table td {
  border: 1px solid grey;
  padding-right: 1em; /* Prevent Firefox overlap scrollbar */
}
